<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>VideoDash</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="icon.png">
  <script src="https://cdn.tailwindcss.com"></script>

  <meta name="theme-color" content="#fafafa">
  <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />
  <link href="https://unpkg.com/@videojs/themes@1/dist/fantasy/index.css" rel="stylesheet">
</head>

<body>
    
    {% block body %}
    {% endblock %}

    <script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>

</body>

</html>