{% extends "base.html" %}
{% block body %}
<main class="relative min-h-screen bg-white sm:flex sm:items-center sm:justify-center">
    <div class="flex h-screen w-screen flex-col">
        <div class="flex-1">
            <video
                class="video-js vjs-fill vjs-theme-fantasy vjs-show-big-play-button-on-pause"
                controls
                preload="auto"
                data-setup='{
                    "controls": true,
                    "autoplay": true
                }'
            >
                <source src="{{ current_video.stream_url }}" type="application/x-mpegURL" />
            </video>
        </div>
        <div class="flex min-w-full flex-nowrap space-x-2 overflow-auto py-2">
        {% for video in videos %}
            <a href="/video/{{ video.vid }}"
                class="flex h-[144px] w-64 flex-shrink-0 flex-grow-0 justify-center rounded bg-black shadow-md"
            >
                <img
                    class="max-w-full self-center rounded"
                    src={{ video.thumbnail_url }}
                    alt={{ video.name }}
                    loading="lazy"
                />
            </a>
        {% endfor %}
        </div>
    </div>
</main>
{% endblock %}